/* Bagside:
https://s3-us-west-2.amazonaws.com/s.cdpn.io/494860/bagside.png */

img {
    max-width: 100px;
}

img:hover {
    border: 3px #3e801e solid;
    max-width: 90px;
}

.turned {
    border: 3px #532dff solid;
    max-width: 90px;
}

.hidden {
    display: none;
}
